# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyD1_cl9RhTeQFGX78xQrSe5-pRb74B9oeM"

In [2]:
%matplotlib inline
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csv_path = '../output_data/cities.csv'
cities_df = pd.read_csv(csv_path)
cities_df = cities_df.dropna()
cities_df

,Unnamed: 0,City,City ID,Latitude,Longitude,Temperature (F),Humidity %,Cloudiness %,Wind Speed (mph),City Country,City Time
0,0,chokurdakh,2126123.0,70.63,147.92,42.49,83.0,100.0,11.07,RU,1.597643e+09
1,1,reconquista,3429594.0,-29.15,-59.65,46.87,60.0,0.0,4.76,AR,1.597644e+09
2,2,new norfolk,2155415.0,-42.78,147.06,55.44,82.0,79.0,1.23,AU,1.597643e+09
3,3,honiara,2108502.0,-9.43,159.95,86.00,74.0,40.0,6.93,SB,1.597643e+09
4,4,rikitea,4030556.0,-23.12,-134.97,70.59,77.0,2.0,12.35,PF,1.597643e+09
...,...,...,...,...,...,...,...,...,...,...,...
593,593,naruja,824385.0,41.91,41.95,74.35,64.0,20.0,6.93,GE,1.597644e+09
594,594,swan hill,2147756.0,-35.34,143.55,60.44,56.0,28.0,9.51,AU,1.597644e+09
595,595,port moresby,2088122.0,-9.44,147.18,84.20,62.0,5.0,23.04,PG,1.597644e+09
596,596,cabinda,2243271.0,-5.55,12.20,75.20,88.0,75.0,7.43,AO,1.597644e+09
597,597,tilichiki,2120591.0,60.47,166.10,61.32,55.0,56.0,14.97,RU,1.597643e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
coordinates = pd.DataFrame({
    "Latitude":cities_df["Latitude"],
    "Longitude":cities_df["Longitude"]
})

coordinates

     Latitude  Longitude
0       70.63     147.92
1      -29.15     -59.65
2      -42.78     147.06
3       -9.43     159.95
4      -23.12    -134.97
..        ...        ...
593     41.91      41.95
594    -35.34     143.55
595     -9.44     147.18
596     -5.55      12.20
597     60.47     166.10

[539 rows x 2 columns]

In [6]:
humid_df = cities_df["Humidity %"]

In [7]:
figure_layout = {
    'width': '600px',
    'height': '450px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
layer = gmaps.heatmap_layer(coordinates,weights=humid_df)
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
cities_df = cities_df.drop(axis=1, labels='Unnamed: 0')
cities_df

,City,City ID,Latitude,Longitude,Temperature (F),Humidity %,Cloudiness %,Wind Speed (mph),City Country,City Time
0,chokurdakh,2126123.0,70.63,147.92,42.49,83.0,100.0,11.07,RU,1.597643e+09
1,reconquista,3429594.0,-29.15,-59.65,46.87,60.0,0.0,4.76,AR,1.597644e+09
2,new norfolk,2155415.0,-42.78,147.06,55.44,82.0,79.0,1.23,AU,1.597643e+09
3,honiara,2108502.0,-9.43,159.95,86.00,74.0,40.0,6.93,SB,1.597643e+09
4,rikitea,4030556.0,-23.12,-134.97,70.59,77.0,2.0,12.35,PF,1.597643e+09
...,...,...,...,...,...,...,...,...,...,...
593,naruja,824385.0,41.91,41.95,74.35,64.0,20.0,6.93,GE,1.597644e+09
594,swan hill,2147756.0,-35.34,143.55,60.44,56.0,28.0,9.51,AU,1.597644e+09
595,port moresby,2088122.0,-9.44,147.18,84.20,62.0,5.0,23.04,PG,1.597644e+09
596,cabinda,2243271.0,-5.55,12.20,75.20,88.0,75.0,7.43,AO,1.597644e+09
597,tilichiki,2120591.0,60.47,166.10,61.32,55.0,56.0,14.97,RU,1.597643e+09

In [9]:
#convert all values to floats
type(cities_df["Temperature (F)"])
cities_df["Temperature (F)"] = pd.to_numeric(cities_df["Temperature (F)"], errors='coerce')
cities_df["Cloudiness %"] = pd.to_numeric(cities_df["Cloudiness %"], errors='coerce')
cities_df["Wind Speed (mph)"] = pd.to_numeric(cities_df["Wind Speed (mph)"], errors='coerce')
cities_df["Latitude"] = pd.to_numeric(cities_df["Latitude"], errors='coerce')
cities_df["Longitude"] = pd.to_numeric(cities_df["Longitude"], errors='coerce')
cities_df

,City,City ID,Latitude,Longitude,Temperature (F),Humidity %,Cloudiness %,Wind Speed (mph),City Country,City Time
0,chokurdakh,2126123.0,70.63,147.92,42.49,83.0,100.0,11.07,RU,1.597643e+09
1,reconquista,3429594.0,-29.15,-59.65,46.87,60.0,0.0,4.76,AR,1.597644e+09
2,new norfolk,2155415.0,-42.78,147.06,55.44,82.0,79.0,1.23,AU,1.597643e+09
3,honiara,2108502.0,-9.43,159.95,86.00,74.0,40.0,6.93,SB,1.597643e+09
4,rikitea,4030556.0,-23.12,-134.97,70.59,77.0,2.0,12.35,PF,1.597643e+09
...,...,...,...,...,...,...,...,...,...,...
593,naruja,824385.0,41.91,41.95,74.35,64.0,20.0,6.93,GE,1.597644e+09
594,swan hill,2147756.0,-35.34,143.55,60.44,56.0,28.0,9.51,AU,1.597644e+09
595,port moresby,2088122.0,-9.44,147.18,84.20,62.0,5.0,23.04,PG,1.597644e+09
596,cabinda,2243271.0,-5.55,12.20,75.20,88.0,75.0,7.43,AO,1.597644e+09
597,tilichiki,2120591.0,60.47,166.10,61.32,55.0,56.0,14.97,RU,1.597643e+09

In [10]:
# pare down df to only include cities that meet my weather parameter
good_weather = cities_df[(cities_df['Temperature (F)'] >= 75) & (cities_df['Temperature (F)']<=90)&(cities_df['Cloudiness %']<=10)&(cities_df['Wind Speed (mph)']<=15)&(cities_df['Humidity %']<=40)]
good_weather

,City,City ID,Latitude,Longitude,Temperature (F),Humidity %,Cloudiness %,Wind Speed (mph),City Country,City Time
211,sabha,2212775.0,27.04,14.43,82.58,25.0,0.0,6.29,LY,1.597644e+09
261,waddan,2209055.0,29.16,16.14,81.00,39.0,0.0,1.92,LY,1.597644e+09
278,hami,1529484.0,42.80,93.45,89.26,12.0,1.0,9.22,CN,1.597643e+09
286,laguna,5364271.0,38.42,-121.42,87.73,40.0,1.0,3.36,US,1.597643e+09
331,abu samrah,172515.0,35.30,37.18,83.16,38.0,0.0,14.81,SY,1.597644e+09
406,alyangula,2079582.0,-13.85,136.42,86.00,33.0,0.0,10.29,AU,1.597644e+09
516,damghan,138025.0,36.17,54.35,79.39,37.0,0.0,2.66,IR,1.597644e+09
570,awbari,2219235.0,26.59,12.78,82.44,21.0,0.0,7.00,LY,1.597644e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = good_weather

hotel_df["Hotel Name"]=""

C:\Users\smith\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
hotel_df = hotel_df.rename(columns={"City Country":"Country","Latitude":"Lat","Longitude":"Lng"})

In [13]:
# lat = hotel_df["Lat"]
# lng = hotel_df["Lng"]

# params = {
#         "location": (29.16,16.14),
#         "keyword": "Hotel",
#         "radius": 5000,
#         "key": g_key
#     }
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#     # make request
# hotel_name = requests.get(base_url, params=params).json()
# print(hotel_name)

In [14]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index,row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    # set up a parameters dictionary
    params = {
        "location": f'{lat},{lng}',
        "keyword": "Hotel",
        "radius": 5000,
        "key": g_key
    }

    # make request
    try:
        hotel_name = requests.get(base_url, params=params).json()
        print(hotel_name['results'][0]['name'])
        hotel_df.loc[index,"Hotel Name"] = hotel_name['results'][0]['name']
    except (IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index,"Hotel Name"] = "No Result"

فندق علي
Missing field/result... skipping.
哈密环球大酒店
Missing field/result... skipping.
Missing field/result... skipping.
Groote Eylandt Lodge
Damghan Tourism Hotel
Missing field/result... skipping.

In [15]:
hotel_df

,City,City ID,Lat,Lng,Temperature (F),Humidity %,Cloudiness %,Wind Speed (mph),Country,City Time,Hotel Name
211,sabha,2212775.0,27.04,14.43,82.58,25.0,0.0,6.29,LY,1.597644e+09,فندق علي
261,waddan,2209055.0,29.16,16.14,81.00,39.0,0.0,1.92,LY,1.597644e+09,No Result
278,hami,1529484.0,42.80,93.45,89.26,12.0,1.0,9.22,CN,1.597643e+09,哈密环球大酒店
286,laguna,5364271.0,38.42,-121.42,87.73,40.0,1.0,3.36,US,1.597643e+09,No Result
331,abu samrah,172515.0,35.30,37.18,83.16,38.0,0.0,14.81,SY,1.597644e+09,No Result
406,alyangula,2079582.0,-13.85,136.42,86.00,33.0,0.0,10.29,AU,1.597644e+09,Groote Eylandt Lodge
516,damghan,138025.0,36.17,54.35,79.39,37.0,0.0,2.66,IR,1.597644e+09,Damghan Tourism Hotel
570,awbari,2219235.0,26.59,12.78,82.44,21.0,0.0,7.00,LY,1.597644e+09,No Result

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row


# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
figure_layout = {
    'width': '600px',
    'height': '450px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig2 = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig2.add_layer(markers)

fig2

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…

In [18]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '600px',
    'height': '450px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
layer = gmaps.heatmap_layer(coordinates,weights=humid_df)
fig.add_layer(layer)
fig.add_layer(markers)

fig

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…